#Import the neccsary Library

In [97]:
import pandas as pd
import numpy as np

#Import the data set

In [98]:
#Transform the data from Xlsx to pd Data frame
data = pd.read_excel('data.xlsx')

##Explore the data set

In [99]:
data.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT

In [100]:
data.info()

#We use it to see the null value and Data type for each object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      998 non-null    object
 2   Job Title      999 non-null    object
 3   Department     998 non-null    object
 4   Business Unit  1000 non-null   object
 5   Gender         999 non-null    object
 6   Ethnicity      993 non-null    object
 7   Age            994 non-null    float64
 8   Hire Date      993 non-null    datetime64[ns]
 9   Annual Salary  989 non-null    float64
 10  Bonus %        992 non-null    float64
 11  Country        998 non-null    object
 12  City           998 non-null    object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(9)
memory usage: 109.5+ KB

In [101]:
data.describe()

#To see the Statistics

,Age,Hire Date,Annual Salary,Bonus %,Exit Date
count,994.000000,993,989.00000,992.000000,85
mean,44.369215,2012-04-17 22:56:11.601208576,113372.62184,0.088972,2016-11-02 18:04:14.117647104
min,25.000000,1992-01-09 00:00:00,40063.00000,0.000000,1994-12-18 00:00:00
25%,35.000000,2007-02-24 00:00:00,71234.00000,0.000000,2014-12-25 00:00:00
50%,45.000000,2014-02-20 00:00:00,96567.00000,0.000000,2019-05-23 00:00:00
75%,54.000000,2018-06-25 00:00:00,151027.00000,0.150000,2021-04-09 00:00:00
max,65.000000,2021-12-26 00:00:00,258498.00000,0.400000,2022-08-17 00:00:00
std,11.248162,NaN,53729.04678,0.118135,NaN

In [102]:
data.tail()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33.0,2016-09-18,98427.0,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44.0,2010-05-31,47387.0,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31.0,2019-06-10,176710.0,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33.0,2012-01-28,95960.0,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63.0,2020-07-26,216195.0,0.31,United States,Miami,NaT

#Data preprocessing

In [103]:
#Remove the useles column
data.drop('EEID',axis=1,inplace=True)

In [104]:
data.head()

,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16
1,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT
2,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT
3,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT
4,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT

#Dealing with the missing value

In [105]:
from sklearn.impute import SimpleImputer

data.isnull().sum()
#To Calculate the sum of the missing values

Full Name          2
Job Title          1
Department         2
Business Unit      0
Gender             1
Ethnicity          7
Age                6
Hire Date          7
Annual Salary     11
Bonus %            8
Country            2
City               2
Exit Date        915
dtype: int64

##For null categorical data

In [106]:
from sklearn.impute import SimpleImputer

# Create an imputer for categorical data ('ex: Job Title ')
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

# Select only categorical columns using their column names
categorical_data = data[['Job Title', 'Department', 'Gender', 'Ethnicity']] # Changed this line

# Fit and transform categorical columns
data[categorical_data.columns] = imputer.fit_transform(categorical_data)

##For null numrical data

In [119]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# Select only numeric columns for imputation
numeric_data = data.select_dtypes(include=[np.number])
imputer.fit(numeric_data)
data[numeric_data.columns] = imputer.transform(numeric_data)

##For uniqe categorical data

In [120]:
data['Full Name'].fillna('Unknown', inplace=True)
data['Country'].fillna('Unknown', inplace=True)
data['City'].fillna('Unknown', inplace=True)

<ipython-input-120-d6218fb17d4e>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Full Name'].fillna('Unknown', inplace=True)
<ipython-input-120-d6218fb17d4e>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Country'].fillna('Unknown', inplace=True)
<ipython-input-120-d6218fb17d4e>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['City'].fillna('Unknown', inplace=True)

##For Missing Value in Hire Date

In [111]:
# Fill missing 'Hire Date' based on the most frequent value (mode) within each 'Job Title' group
data["Hire Date"] = data.groupby("Job Title")["Hire Date"].transform(lambda x: x.fillna(x.mode()[0]))

# Now let's check for any remaining missing values in 'Hire Date'
missing_values = data["Hire Date"].isnull().sum()

# Print the remaining missing values count for 'Hire Date'
print(f"Remaining missing 'Hire Date' values: {missing_values}")

Remaining missing 'Hire Date' values: 0

##For Missing Value in Exit Date

In [ ]:
import datetime
from datetime import datetime
data["Exit Date"].fillna(datetime.today().date(), inplace=True)
data.isnull().sum()

#Change the first 5 *rows*

In [112]:
mode_values = data.mode().iloc[0]  # Get the first row (mode)
data.loc[:2] = mode_values.values  # Replace rows 0, 1, and 2
mode_values = data.mode().iloc[0]
data.loc[:2] = mode_values.values
data.head()

,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,Anna Han,Director,IT,Manufacturing,Female,Asian,45.0,2010-11-29,113372.62184,0.00,United States,Seattle,2025-02-25
1,Anna Han,Director,IT,Manufacturing,Female,Asian,45.0,2010-11-29,113372.62184,0.00,United States,Seattle,2025-02-25
2,Anna Han,Director,IT,Manufacturing,Female,Asian,45.0,2010-11-29,113372.62184,0.00,United States,Seattle,2025-02-25
3,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.00000,0.07,United States,Chicago,2025-02-25
4,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.00000,0.00,United States,Phoenix,2025-02-25

#Largest Salary

In [113]:
# Calculate the Total Salary (Base Salary + Bonus)
#We add the Bounce To see the total income in the Year
data["Total Salary"] = data["Annual Salary"] + (data["Annual Salary"] * data["Bonus %"] / 100)



#sort the data by 'Total Salary' in descending order to get the highest salaries
#From large to small
top_10_data = data.sort_values(by="Total Salary", ascending=False).head(10)

# Display the top 10 rows
print(top_10_data)

         Full Name       Job Title   Department           Business Unit  \
232   Kinsley Vega  Vice President   Accounting               Corporate
989   Raelynn Rios  Vice President        Sales           Manufacturing
900   Silas Rivera  Vice President        Sales               Corporate
549     Dominic Le  Vice President    Marketing               Corporate
610   Grayson Chin  Vice President           IT  Research & Development
37   Jackson Perry  Vice President    Marketing  Research & Development
220    Skylar Bell  Vice President  Engineering           Manufacturing
260  Isabella Soto  Vice President      Finance               Corporate
359      Henry Zhu  Vice President    Marketing     Speciality Products
657       Wyatt Li  Vice President  Engineering           Manufacturing

     Gender  Ethnicity   Age  Hire Date  Annual Salary  Bonus %  \
232  Female     Latino  33.0 2020-12-16       258426.0     0.40
989  Female     Latino  43.0 2016-08-21       258498.0     0.35
900    Male     Latino  48.0 2000-02-28       258081.0     0.30
549    Male      Asian  41.0 2014-10-04       257194.0     0.35
610    Male      Asian  26.0 2020-05-09       256561.0     0.39
37     Male  Caucasian  27.0 2019-10-20       256420.0     0.30
220  Female  Caucasian  30.0 2018-03-06       255431.0     0.36
260  Female     Latino  27.0 2021-12-15       255369.0     0.33
359    Male      Asian  38.0 2021-08-25       255230.0     0.36
657    Male      Asian  63.0 2013-06-03       254289.0     0.39

           Country            City   Exit Date  Total Salary
232         Brazil  Rio de Janerio  2025-02-25   259459.7040
989  United States        Columbus  2025-02-25   259402.7430
900  United States         Chicago  2025-02-25   258855.2430
549          China       Chongqing  2025-02-25   258094.1790
610  United States          Austin  2025-02-25   257561.5879
37   United States         Phoenix  2025-02-25   257189.2600
220  United States        Columbus  2025-02-25   256350.5516
260         Brazil       Sao Paulo  2025-02-25   256211.7177
359  United States          Austin  2025-02-25   256148.8280
657  United States         Chicago  2025-02-25   255280.7271

#Group data by Department

In [114]:
# Group data by 'Department' and calculate the average age and salary
department_stats = data.groupby('Department').agg({'Age': 'mean', 'Annual Salary': 'mean'})

# Rename the columns for better readability
department_stats = department_stats.rename(columns={'Age': 'Average Age', 'Annual Salary': 'Average Salary'})

# Display the results
print(department_stats)

                 Average Age  Average Salary
Department
Accounting         43.656250   123146.947917
Engineering        45.666894   109478.560047
Finance            45.162767   122790.492621
Human Resources    44.443548   118178.147126
IT                 44.267933    97896.809593
Marketing          43.216667   129663.033333
Sales              43.609780   111240.675870

#Group data by 'Department' and 'Ethnicity'

In [115]:
# Group data by 'Department' and 'Ethnicity' and calculate the statistics
department_ethnicity_stats = data.groupby(['Department', 'Ethnicity']).agg(
    {'Age': ['max', 'min'], 'Annual Salary': 'median'}
)

# Rename the columns for better readability
department_ethnicity_stats.columns = ['Max Age', 'Min Age', 'Median Salary']

# Reset the index to make 'Department' and 'Ethnicity' columns
department_ethnicity_stats = department_ethnicity_stats.reset_index()

# Display the results
print(department_ethnicity_stats)

         Department  Ethnicity  Max Age  Min Age  Median Salary
0        Accounting      Asian     64.0     25.0       114893.0
1        Accounting      Black     51.0     30.0        91853.0
2        Accounting  Caucasian     62.0     26.0       121159.5
3        Accounting     Latino     62.0     26.0        92317.0
4       Engineering      Asian     65.0     25.0        91782.0
5       Engineering      Black     56.0     27.0        74412.0
6       Engineering  Caucasian     64.0     25.0        96057.0
7       Engineering     Latino     64.0     27.0        96818.0
8           Finance      Asian     64.0     25.0       123909.0
9           Finance      Black     65.0     25.0       131652.0
10          Finance  Caucasian     64.0     25.0        98946.0
11          Finance     Latino     65.0     25.0       124553.0
12  Human Resources      Asian     64.0     25.0       125871.5
13  Human Resources      Black     55.0     25.0       142318.0
14  Human Resources  Caucasian     64.0     26.0       104415.0
15  Human Resources     Latino     65.0     29.0       101985.0
16               IT      Asian     65.0     25.0        91023.0
17               IT      Black     61.0     28.0        72901.5
18               IT  Caucasian     65.0     26.0        82907.0
19               IT     Latino     64.0     25.0        83934.0
20        Marketing      Asian     65.0     25.0       147752.0
21        Marketing      Black     65.0     27.0        86075.5
22        Marketing  Caucasian     65.0     25.0       113135.0
23        Marketing     Latino     65.0     29.0        97063.5
24            Sales      Asian     64.0     25.0        95372.0
25            Sales      Black     65.0     26.0        94246.0
26            Sales  Caucasian     63.0     26.0        96092.0
27            Sales     Latino     61.0     26.0       113269.0

In [121]:
#To Check if there are any missing value
data.isnull().sum()

Full Name        0
Job Title        0
Department       0
Business Unit    0
Gender           0
Ethnicity        0
Age              0
Hire Date        0
Annual Salary    0
Bonus %          0
Country          0
City             0
Exit Date        0
Total Salary     0
dtype: int64